@model FeelAtHomeRestaurant.Models.IndividualButtonPartial
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:200px;">
    <div class="btn btn-group" role="group">
        @await Html.PartialAsync("_IndividualButtonPartial",
                    new IndividualButtonPartial
                    {
                        Page = "Edit",
                        ButtonType = "btn-primary",
                        FontAwesome = "fa fa-edit",
                        Id = Model.Id
                    })

        @await Html.PartialAsync("_IndividualButtonPartial",
                   new IndividualButtonPartial
                   {
                       Page = "Details",
                       ButtonType = "btn-success",
                       FontAwesome = "fa fa-info-circle",
                       Id = Model.Id
                   })

        @await Html.PartialAsync("_IndividualButtonPartial",
                   new IndividualButtonPartial
                   {
                       Page = "Delete",
                       ButtonType = "btn-danger",
                       FontAwesome = "fa fa-trash",
                       Id = Model.Id
                   })

    </div>
</td>
