@{
   //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1 style="text-align:center">Manage your account</h1>

<div>
    <h4 style="color:darkslateblue">Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
