@model FeelAtHomeRestaurant.ViewModel.FoodTypeViewModel

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["Title"] = "Edit";
    var FoodType = ViewBag.FoodType as FeelAtHomeRestaurant.ViewModel.FoodTypeViewModel;
}

<h1>Edit</h1>

<h4>Edit Food Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@FoodType.FoodTypeId" asp-for="@Model.FoodTypeId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input value="@FoodType.Name" asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

