@model FeelAtHomeRestaurant.ViewModel.MenuItemVM

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["Title"] = "Edit";
    var FoodType = ViewBag.FoodType as FeelAtHomeRestaurant.ViewModel.MenuItemVM;
}

<h1>Edit</h1>

<h4>MenuItemVM</h4>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MenuItemId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Image" />
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="file" class="form-control" accept=".jpg,.png,.gif,.jfif,.jpeg" />

            </div>
            <div class="form-group">
                <label asp-for="Spicyness" class="control-label"></label>
                <select asp-for="Spicyness" asp-items="@Html.GetEnumSelectList<MenuItem.Spicy>()" class="form-control"></select>
                <span asp-validation-for="Spicyness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="CategoryTypeId" asp-items="@(new SelectList(ViewBag.Categories,"CategoryTypeId","Name"))" class="form-control"></select>
                <span asp-validation-for="CategoryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="FoodTypeId" asp-items="@(new SelectList(ViewBag.Foodtypes,"FoodTypeId","Name"))" class="form-control"></select>
                <span asp-validation-for="FoodTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm btn-primary" />
                <a asp-action="Index" class="btn btn-sm btn-success">Bact to List</a>
            </div>

        </form>
    </div>
    <div class="col-md-3">
        <img src="@Url.Content(FoodType.Image)" class="img-fluid" style="height: 220px; width: 100%;">
    </div>
</div>



